{% extends './index.html' %}

{% block title %}<title>Catálogo de productos</title>{% endblock %}

{% block content%}
    {% load thumbnail %}
    {% load humanize %}
        <div class="col-sm-12 text-center" style="background-color: #ebebfa">
            <h2>Productos</h2>
        </div> 
        <div class="col-sm-12 text-right" style="background-color: #9999ff">
            <h4>Tu carrito está vacio</h4>
        </div>
        <div class="productos">
            {% for p in productos %}
            <div class="producto">
                <div class= "contenedor_producto">
                        {% if p.imagen %}
                            {% thumbnail p.imagen '350x175' as imagen %}
                                <img src="{{ imagen.url }}" alt="imagen producto">
                            {% endthumbnail %}
                        {% endif %}
                    <div class="detalle">
                        <h6 class="text-dark text-start">{{ p.marca | capfirst }}</h6>
                        <h5 class="text-dark text-start">{{ p.nombre | title }}</h5>
                        <h5 class="text-dark text-start">${{ p.precio | intcomma }}</h5>
                        <a href="{% url 'producto_detalle' p.pk %}" class="btn btn-secondary">Ver detalle</a>
                        <a href= "{% url 'productos' %}" class="btn btn-info"><i class="fa fa-shopping-cart fa-fw fa-lg"></i>Comprar</a> 
                    </div>  
                </div>  
            </div>
            {% endfor %}  
        </div>
{% endblock %}
<br>
<br>
