{% extends './index.html' %}

{% block title %}<title>Catálogo de productos</title>{% endblock %}

{% block content%}
    {% load thumbnail %}
    {% load humanize %}
    <h2>Productos</h2>

    <div class="productos">

        {% for p in productos %}

        <div class="producto">

            <div class= "contenedor_producto">

                {% if p.imagen %}
                    {% thumbnail p.imagen '300x150' as imagen %}
                        <img src="{{ imagen.url }}" alt="imagen producto">
                    {% endthumbnail%}
                {% endif %}
                <div class="detalle">
                    <h6 class="text-dark text-start">{{ p.marca | capfirst }}</h6>
                    <h4 class="text-dark text-start">{{ p.nombre | title }}</h4>
                    <h5 class="text-dark text-start">${{ p.precio | intcomma }}</h5>
                    <i class="fa fa-shopping-cart fa-fw fa-lg"></i>
                </div>  
            </div>  
        </div>
        {% endfor %}  
    </div>
    <br>
    <br>  
{% endblock %}